#footer {
    @include raleway (6rem);
    font-size: 6rem;
    color: nth($color,6);
    
    display: flex;
    padding: 50px;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
   

    a {
        color: nth($color,6);
        text-decoration: none;
    }
}