#porfolio {
    height: auto;

    .p-destacado {
        @include encabezado (crimson, 4rem);
    }

    .p-margin{
        margin: 100px 0px;


        .p-alinear {
            display: flex;
            justify-content: center;

            a { 
                transition-duration: 1s;
                transition-timing-function: 1s;
                
                &:hover {
                position: relative;
                z-index: 1;
                @include transform (scale(1.2));
                border: 5%;
                }
            }

        }
    }
}