@import '../base/variables';
@import '../base/extend';
@import '../base/mixin';

#servicios {

    .s-destacado {
        @include encabezado (rgb(214, 81, 81), 5rem);
        font-size: 15rem;
    }
    
    .s-texto {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 600px;
        text-align: center;


        h2 {
            @include raleway (12rem);
            margin-bottom: 10px;
            color: nth($color,5);
        }
        
        p {
            @include raleway (6rem);
            color: nth($color,5);
            font-weight: lighter;
            line-height: 10rem;
        }
    }

}