@import 'variables';

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    font-size: 2px;
    
    a {text-decoration: none;}
    
    h2 {
        font-family: 'yeseva one', cursive; 
        font-size: 15rem; 
        color: #4f4f4f;
    }

    li {list-style: none;}

    .tag-graphic {
        font-family: nth($f-family,1);
        color: nth($color,2);
        font-size: nth($f-size,1);
        font-weight: 500;
        letter-spacing: 2rem;
        
        position: fixed;
        top: 40px;
        right: 40px;
        float: right; 

        
    }
    
}