$color: 
/* 1 */ black,
/* 2 */ rgb(39, 39, 39),
/* 3 */ rgb(184, 184, 184),
/* 4 */ crimson,
/* 5 */ white,
/* 6 */ rgb(214, 81, 81);

$f-family:
/* 1 */ 'Raleway',
/* 2 */ 'Yeseva one';


$f-size:
/* 1 */ 5rem,
/* 2 */ 7rem,
/* 3 */ 16rem,
/* 4 */ 12rem;

